.contenido{
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
    height: 100%;
}

.base-content{
    padding: 8px;
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
