.header-pdf{
    font-size: 70px;
}

.detail-item{
    border-bottom: solid 1px #ABB2B9;
}

.text {
    font-size:20px;
    font-weight:bold;
    // text-transform:uppercase;
  }
  .parpadea {
    
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

  /* Put this code in your CSS file */

/* The div container */
.qrcodeImage {
  display: flex;
  flex: 1;
}

/* Add custom styles here */
.center {
  display: flex;
  flex: 1;
  justify-content: center;
}