.contenido{
    padding: 5px;
    border-radius: 5px;
    height: 100%;
    background: #fff;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
}

.base-content{
padding: 8px;
width: 100%;
}

// .details{
//     background-color: red;
//     width: 100%;
//     height: 20px;
// }


.item-preview{
    background: #f2f3f4 !important;
    padding: 5px;
    border-radius: 10px;
 }
 .center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-white{
    background: white;
    border-radius: 4px;
    height: 100%;
}
