<div class="base-content">
    <div class="contenido">
        <!---------------------------------------------------------------------------------------------------------------------------->

        <!------------------------------------------------------------------------------------------------------------------------------------>
        <div style="width: 100%; height: 100%; display: flex; flex-direction: column;">
            <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent"
                style="flex-shrink: 0; overflow-x: auto; width: 100%;">
                <div>
                    <div class="text-4xl font-extrabold tracking-tight leading-none">Mi Configuración</div>
                    <div class="flex items-center mt-0.5 font-medium text-secondary"></div>
                </div>
                <div class="mt-0 sm:mt-0"></div>
            </div>
            <form [formGroup]="form">
                <div class="w-full text-xl mt-2 font-bold">Ventas:</div>
                <div class="grid grid-cols-1 gap-6 w-full mt-2">
                    <div class="border-t"></div>
                    <div class="flex items-center justify-between">
                        <div class="flex-auto cursor-pointer" (click)="communication.toggle()">
                            <img  style="width: 70px;" src="https://i.pinimg.com/736x/1e/3e/e6/1e3ee612a85af5627f85c13e3e9bbece.jpg" />
                            <div class="leading-6 font-medium">Traer todos los datos en ventas</div>
                            <div class="text-md text-secondary">Extraer toda la lista de datos al momento de realizar una venta. Esta opción debe mantenerse activada siempre que la conexión a internet sea rápida o si se está utilizando una PC.</div>
                        </div>
                        <mat-slide-toggle class="ml-2" [color]="'primary'" [formControlName]="'allItemsSale'"
                            #communication>
                        </mat-slide-toggle>
                    </div>
                    <div class="border-t"></div>
                    <div class="flex items-center justify-between">
                        <div class="flex-auto cursor-pointer" (click)="securityToggle.toggle()">
                            <img  style="width: 75px; height: 75px;" src="https://i.pinimg.com/736x/6f/23/49/6f2349cc91f3a30074f9f25ff8e9418d.jpg" />
                            <div class="leading-6 font-medium">Que cantidad de items deseas extraer?</div>
                            <div class="text-md text-secondary">¿Deseas imprimir los recibos después de cada venta? Recuerda que puedes gestionar esta opción de manera independiente, y aplica solo para usuarios que se encuentren en PC.</div>
                        </div>
            
                        <div class="sm:col-span-4">
                            <mat-form-field style="    padding: 2px;" class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Cantidad: </mat-label>
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:plus'" matPrefix></mat-icon>
                                <input [formControlName]="'countItemsSale'" matInput name="SuggestPriceShopping">
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="flex items-center justify-between">
                        <div class="flex-auto cursor-pointer" (click)="securityToggle.toggle()">
                            <img  style="width: 75px; height: 75px;" src="https://i.pinimg.com/736x/23/1d/19/231d19b859822c471bfa1d2384e70251.jpg" />
                            <div class="leading-6 font-medium">Imprimir despues de vender?</div>
                            <div class="text-md text-secondary">¿Deseas imprimir los recibos después de cada venta? Recuerda que puedes gestionar esta opción de manera independiente, y aplica solo para usuarios que se encuentren en PC.</div>
                        </div>
                        <mat-slide-toggle class="ml-2" [color]="'primary'" [formControlName]="'printNoteSale'"
                            #securityToggle>
                        </mat-slide-toggle>
                    </div>
                    <div class="border-t"></div>
                </div>
                <div class="w-full text-xl mt-2 font-bold">Compras:</div>
                <div class="grid grid-cols-1 gap-6 w-full mt-2">
                    <div class="border-t"></div>
                    <div class="flex items-center justify-between">
                        <div class="flex-auto cursor-pointer" (click)="communication.toggle()">
                            <img  style="width: 70px;" src="https://i.pinimg.com/736x/1e/3e/e6/1e3ee612a85af5627f85c13e3e9bbece.jpg" />
                            <div class="leading-6 font-medium">Traer todos los datos en Compras</div>
                            <div class="text-md text-secondary">Extraer toda la lista de datos al momento de realizar una compra. Esta opción debe mantenerse activada siempre que la conexión a internet sea rápida o si se está utilizando una PC.</div>
                        </div>
                        <mat-slide-toggle class="ml-2" [color]="'primary'" [formControlName]="'allItemsShopping'"
                            #communication>
                        </mat-slide-toggle>
                    </div>
                    <div class="border-t"></div>
                    <div class="flex items-center justify-between">
                        <div class="flex-auto cursor-pointer" (click)="securityToggle.toggle()">
                            <img  style="width: 75px; height: 75px;" src="https://i.pinimg.com/736x/6f/23/49/6f2349cc91f3a30074f9f25ff8e9418d.jpg" />
                            <div class="leading-6 font-medium">Que cantidad de items deseas extraer en compras?</div>
                            <div class="text-md text-secondary">¿Deseas imprimir los recibos después de cada compra? Recuerda que puedes gestionar esta opción de manera independiente, y aplica solo para usuarios que se encuentren en PC.</div>
                        </div>
                        <div class="sm:col-span-4">
                            <mat-form-field style="    padding: 2px;" class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Cantidad: </mat-label>
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:plus'" matPrefix></mat-icon>
                                <input [formControlName]="'countItemsShopping'" matInput name="SuggestPriceShopping">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="border-t"></div>
                    <div class="flex items-center justify-between">
                        <div class="flex-auto cursor-pointer" (click)="securityToggle.toggle()">
                            <img  style="width: 75px; height: 75px;" src="https://i.pinimg.com/736x/23/1d/19/231d19b859822c471bfa1d2384e70251.jpg" />
                            <div class="leading-6 font-medium">Imprimir despues de comprar?</div>
                            <div class="text-md text-secondary">¿Deseas imprimir los recibos después de cada compra? Recuerda que puedes gestionar esta opción de manera independiente, y aplica solo para usuarios que se encuentren en PC.</div>
                        </div>
                        <mat-slide-toggle class="ml-2" [color]="'primary'" [formControlName]="'printNoteShopping'"
                            #securityToggle>
                        </mat-slide-toggle>
                    </div>
                </div>
                <div class="my-10 border-t"></div>
                <div class="flex items-center justify-end">
                    <btn-generic 
                        class="px-6 ml-3"
                        [color]="'secondary'" 
                        [label]="' Cancelar'" 
                        [icon]="'close'" 
                        [withFull]="false"
                        [disabled]="false"
                        (buttonClick)="cancel()">
                     </btn-generic>

                     <btn-generic 
                        class="px-6 ml-3"
                        [color]="'green'" 
                        [label]="'Actualizar'" 
                        [icon]="'add'" 
                        [withFull]="false"
                        [disabled]="false"
                        (buttonClick)="save()">
                    </btn-generic>
                </div>
            </form>

        </div>
        <!---------------------------------------------------------------------------------------------------------------------------->
    </div>
</div>