.btn-add{
    background: #5FB960;
    color:#fff;
    width: 100%;
    height: 40px;
    text-align: center;
    align-items: center;
    place-content: center;
}
.alert{
  color: red;
}

.box{
    width: 100%;
    height: 25px;
}

.content{
    // width:350px !important;
}
.body-transfer{
    min-width: 300px;
    min-height: 400px;
    max-width: 500px;
    max-height: 500px;
}

.item-movement{
    // background: #b4beca;
}

.card-history{
    background: #f4f6f7 !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 12px;
    border-radius: 10px;
}

.text-right{
    text-align: right !important;
}
.text-left{
    text-align: left !important;
}
.parpadea {
    animation-name: parpadeo;
    animation-duration: 900ms;
    animation-timing-function: linear;
    animation-iteration-count: 3;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 900ms;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 3;
  }

  @-moz-keyframes parpadeo{
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

  @-webkit-keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }

  @keyframes parpadeo {
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

  .available{
    background: #A2C747;
    color:#fff;
    height: 46px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    place-items: center;
    border-radius: 10px;
  }
  .available-future{
    background: #F39C12;
    color:#fff;
    height: 46px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    place-items: center;
    border-radius: 10px;
  }
.color-green{
    color:#A2C747 !important;
    cursor: pointer;
}

.card-movement{
    background: #f4f6f7 !important;
    padding: 10px;
    border-radius: 10px;
}
