.text-danger {
    color: red; /* Cambia el color según tus preferencias */
}

.invalid-feedback {
    font-size: 0.875em; /* Tamaño de fuente más pequeño */
    margin-top: 0.25rem; /* Espaciado superior */
}
