.earnings{
    background:  #b4beca !important;
    width: 170px;
    border-radius: 15px;
    height: 40xp;
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

.sales{
    background: #A2C747 !important;
    width: 8rem;
    margin-right: 0.5rem;
    border-radius: 7px;
    height: 40xp;
    color: #fff;
    font-size: 20px;
    padding: 2px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
