.icon{
    margin: 0px 10px;
    color:#000;
    font-weight: 900;
}

.contenido{
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow-y: scroll;
    background: #ffffff;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
}

.base-content{
padding: 8px;
width: 100%;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }



  .itemSelect{
   border: 1px solid #f4f4f4;
   border-radius: 2px;
   padding: 5px 10px;
   margin: 2px;
  }  

  .datos{
      padding-left: 10px;
  }

  .itemSelect :hover{
      cursor: pointer;
  }

  .example-viewport {
    width: 100% !important;
  }

.product-name {
  font-size: 13px; 
  font-weight: bold;
}

.product-description {
  font-size: 12px; 
  color: #6c757d;
}

  