.overview-sale{
    background:  red;
    // width: 450px;
    max-width: 700px;
}

.box-1{
    background-color: white;
    border-width: 20px;
    border: solid 1px #1e293b;
    border-radius: 5px;
    padding: 10px 1px;
    margin: 5px 17px;
  }

.btn-export{
    border-radius: 4px;
    background: #d4d4d4;
    width: fit-content;
    cursor: pointer;
    width: 100%;
    color: aliceblue;
}

.btn-whatsapp{
    background: #d4d4d4;
}

.btn-pdf{
    background: #F15642;
}

.btn-excel{
    background: #84BD5A;
}

.fw-700{
    font-weight: 700 !important;
}

.center-item{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
  }

// as

.backgoud-page{
    background: #F9F9F9;
}

.text-amount{
    font-size: 17px;
    font-weight: 700;
}

.card-item{
    background-color: #EAEDED;
    border-radius: 6px;
    padding: 5px;
    margin-top: 5px;
    height: 70px;
}

.center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-white{
    background: white;
    border-radius: 4px;
    height: 100%;
}

.background-green{
    background: #22C55E;
    border-radius: 4px;
    height: 100%;
}

.title{
    font-weight: 700;
    font-size: 25px;
}

.label-total{
    display: flex;
    margin-top: 10px;
    font-size: 20px;
    margin-top: 10px;
}

.footet-text{
    background-image: url('/assets/images/flags/footer-sale-note.png');
}

.item-preview{
   background: #f2f3f4 !important;
   padding: 5px;
   border-radius: 10px;
}








