.banner{
    background-size: cover;
    background-image: url('https://drjoselora.com/wp-content/uploads/2021/09/depositphotos_93803168-stock-photo-modern-dental-office-interior.jpg');
}

.close{
    margin: 10px;
    cursor: pointer;
    background: #fff;
    color : #000;
    height: 24px;
    border-radius: 60px;
}