.btn-add{
    background: #5FB960;
    color:#fff;
    width: 100%;
    height: 40px;
    text-align: center;
    align-items: center;
    place-content: center;
    cursor: pointer !important;
}

.btn-sub-total{
    background: #f39c12;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 47px;
    font-size: 23px;
}



.alert{
  color: red;
}

.box{
    width: 100%;
    height: 25px;
}

.text-product-name{
    color: #000;
    font-weight: 600;
    font-size: 1.6em !important;
}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 900ms;
    animation-timing-function: linear;
    animation-iteration-count: 3;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 900ms;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 3;
  }

  @-moz-keyframes parpadeo{
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

  @-webkit-keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }

  @keyframes parpadeo {
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
