.btn-add{
    background: #5FB960;
    color:#fff;
    width: 100%;
    height: 40px;
    text-align: center;
    align-items: center;
    place-content: center;
    cursor: pointer !important;
}
