.card-info{
    background: #f39c12;
    border-radius: 11px;
    height: 55px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.label-primary{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
}

.input-card{
    width: -webkit-fill-available;
}