.contenido{
    padding: 5px;
    border-radius: 5px;
    height: 100%;
    background: #fff;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
}

.base-content{
padding: 8px;
width: 100%;
}

// .details{
//     background-color: red;
//     width: 100%;
//     height: 20px;
// }