.banner{
    background-size: cover;
    // background-image: url('assets/images/ui/unit.png');
}

.close{
    margin: 10px;
    cursor: pointer;
    background: #fff;
    color : #000;
    height: 24px;
    border-radius: 60px;
}

.w-max-500{
    max-width: 600px;
}

.btn-success{

    background:  #5FB960;
    color : #fff;
    width: 100%;
}

.banner{
    background-size: cover;
    background-image: url('https://cdn.shopify.com/s/files/1/0229/0839/files/Diseno_sin_titulo_29ead9f4-6b25-4986-83f6-c3ae7d32c486.png?format=jpg&quality=90&v=1670356366');
}

.close{
    margin: 10px;
    cursor: pointer;
    background: #fff;
    color : #000;
    height: 24px;
    border-radius: 60px;
}

.container {
    position: relative;
    width: 100%;
    height: 350px;
}

.background-div {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #A2C747, #66B503);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.foreground-div {
    width: 100%;
    height: 20%;
    background-color: white !important;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-top-right-radius: 40px;
    z-index: 2;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.center-div{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.title-banner{
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}

.image-banner{
  margin-top: 20px;
  width: 100px;
}

.closeA {
    position: relative;
    z-index: 10;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.closeA mat-icon {
    font-size: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

