.active-card{
    background:#A2C747 !important;
    width: 100% !important;
    color:aliceblue;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

.card-payment-type{
    display: flex;
    background: rgb(189, 188, 188);
    width: 100% !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 10px;
    height: 60px;
}

.contenedor-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 600;
  }
