.btn-sale-credit{

    background: orange;
    color: #fff;
}

.text-green{
    color : rgb(221 127 11 / 95%);
    font-weight: 600;
    font-size: 25px;
    text-align: -webkit-center;
}

.text-red{
    color: rgb(137 24 24 / 95%);
    font-size: 20px;
    text-align: -webkit-center;
}

.btn-cancel{
    background: #0f172a;
    color : #fff;
}