.available{
    background: #A2C747; 
    color:#fff;
    height: 46px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    place-items: center;
    border-radius: 10px;
  }

  .box{
    width: 100%;
    height: 25px;
}
.alert{
    color: red;
  }
  
.parpadea {
    animation-name: parpadeo;
    animation-duration: 900ms;
    animation-timing-function: linear;
    animation-iteration-count: 3;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 900ms;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 3;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }