.btn-action{
    height: 30px !important;
    min-height: 30px !important;
    border-radius: 10px !important;
    color: #fff !important;
    display: flex !important;
    cursor:  pointer !important;
    padding-left:  9px !important;
    padding-right: 9px !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.btn-warning-faam{
    background: #F39C12 !important;
}
.btn-success-faam{
    background: #A2C747 !important;
}

.btn-bad-faam{
    background: #1e293b !important;
}

.btn-secondary-faam{
    background: #b4beca !important;
}


.btn-disabled-faam {
    background: #D3D3D3 !important; /* Color de fondo para deshabilitado */
    color: #1e293b !important; /* Color de texto para deshabilitado */
    cursor: not-allowed; /* Cambia el cursor */
}
