.btn-export{
    border-radius: 4px;
    background: #d4d4d4;
    width: fit-content;
    cursor: pointer;
    color: aliceblue;
}

.btn-red{
    background: #F15642;
}

.btn-blue{
    background: blue;
}

.btn-orange{
    background: #E67E22;
}