<div *ngIf="color === 'red'" class=" btn-export btn-red flex items-center justify-center m-1  p-1 pl-2 pr-2">
    {{label}} 
    <mat-icon style="color: aliceblue;" aria-hidden="false" aria-label="Example share icon" fontIcon="{{icon}}"></mat-icon>
</div>

<div *ngIf="color === 'orange'" class=" btn-export btn-orange flex items-center justify-center m-1  p-1 pl-2 pr-2">
    {{label}} 
    <mat-icon style="color: aliceblue;" aria-hidden="false" aria-label="Example share icon" fontIcon="{{icon}}"></mat-icon>
</div>


<div *ngIf="color === 'green'" class=" btn-export btn-red flex items-center justify-center m-1  p-1 pl-2 pr-2">
    {{label}} 
    <mat-icon style="color: aliceblue;" aria-hidden="false" aria-label="Example share icon" fontIcon="{{icon}}"></mat-icon>
</div>


<div *ngIf="color === 'blue'" class=" btn-export btn-blue flex items-center justify-center m-1  p-1 pl-2 pr-2">
    {{label}} 
    <mat-icon style="color: aliceblue;" aria-hidden="false" aria-label="Example share icon" fontIcon="{{icon}}"></mat-icon>
</div>