<div *ngIf="color === 'blue'"  class=" style-chip-faam py-0.4 h-6 w-full px-1 rounded-full text-xs text-center font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500"> 
    {{label}}
</div>

<div *ngIf="color === 'green'" class="style-chip-faam py-0.4 h-6 w-full px-1 rounded-full text-xs text-center font-semibold text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500"> 
    {{label}}
</div>

<div *ngIf="color === 'red'" class="style-chip-faam py-0.4 h-6 w-full px-1 rounded-full text-xs text-center font-semibold text-red-800 bg-red-100 dark:text-red-50 dark:bg-red-500"> 
    {{label}}
</div>

<div *ngIf="color === 'orange'" class="style-chip-faam py-0.4 h-6 w-full px-1 rounded-full text-xs text-center font-semibold text-orange-800 bg-orange-100 dark:text-orange-50 dark:bg-orange-500"> 
    {{label}}
</div>

<div *ngIf="color === 'yellow'" class="style-chip-faam py-0.4 h-6 w-full px-1 rounded-full text-xs text-center font-semibold text-yellow-800 bg-yellow-100 dark:text-yellow-50 dark:bg-yellow-500"> 
    {{label}}
</div>

<div *ngIf="color === 'black'" class="style-chip-faam py-0.4 h-6 w-full px-1 rounded-full text-xs text-center font-semibold text-black-800 bg-black-100 dark:text-black-50 dark:bg-black-500"> 
    {{label}}
</div>

<div *ngIf="color === 'gray'" class="style-chip-faam py-0.4 h-6 w-full px-1 rounded-full text-xs text-center font-semibold text-gray-800 bg-gray-100 dark:text-gray-50 dark:bg-gray-500"> 
    {{label}}
</div>