<div class="contenido">
  <div class="header">
    <h2>Gestión de doctores</h2>

    <button mat-raised-button color="primary" type="button" (click)="createNew()">
      Nuevo doctor
    </button>
  </div>

  <form [formGroup]="form" class="filter-form">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Buscar doctor</mat-label>

      <input
        matInput
        formControlName="search"
        placeholder="Buscar por nombre o apellido"
      />

      <button
        *ngIf="searchValue"
        matSuffix
        mat-icon-button
        type="button"
        aria-label="Limpiar búsqueda"
        (click)="clearSearch()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-checkbox formControlName="showInactive">
      Mostrar inactivos
    </mat-checkbox>

    <mat-checkbox formControlName="requiresPhoto">
      Mostrar con imágenes
    </mat-checkbox>
  </form>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="businessName">
        <th mat-header-cell *matHeaderCellDef>Especialidad</th>
        <td mat-cell *matCellDef="let element">
          {{ element.specialty || '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">
          {{ element.firstName || '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let element">
          {{ element.lastName || '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Teléfono</th>
        <td mat-cell *matCellDef="let element">
          {{ element.phone || '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ci">
        <th mat-header-cell *matHeaderCellDef>CI</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ci || '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">
          <span [class.active]="element.isActive" [class.inactive]="!element.isActive">
            {{ element.isActive ? 'Activo' : 'Inactivo' }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="primary"
            type="button"
            matTooltip="Ver"
            (click)="overView(element)"
          >
            <mat-icon>visibility</mat-icon>
          </button>

          <button
            mat-icon-button
            color="accent"
            type="button"
            matTooltip="Editar"
            (click)="update(element)"
          >
            <mat-icon>edit</mat-icon>
          </button>

          <button
            *ngIf="element.isActive"
            mat-icon-button
            color="warn"
            type="button"
            matTooltip="Dar de baja"
            (click)="lowWarehouse(element)"
          >
            <mat-icon>person_off</mat-icon>
          </button>

          <button
            *ngIf="!element.isActive"
            mat-icon-button
            color="primary"
            type="button"
            matTooltip="Dar de alta"
            (click)="highWarehouse(element)"
          >
            <mat-icon>person_add</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          No se encontraron doctores.
        </td>
      </tr>
    </table>

    <mat-paginator
      [length]="lengthPaginator"
      [pageSize]="currentPaginator.limit"
      [pageIndex]="currentPaginator.page"
      [pageSizeOptions]="[5, 10, 20, 50]"
      showFirstLastButtons
      (page)="changePaginator($event)">
    </mat-paginator>
  </div>
</div>