.icon{
    margin: 0px 10px;
    color:#000;
    font-weight: 900;
}

.contenido{
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
}

.base-content{
padding: 8px;
width: 100%;
}
.image{
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
    height: 200px;
    width: 200px;
    border : 7px solid #BFC9CA;
    border-radius: 5px;
}

.centre {
    text-align: center
  }
