:focus {
    outline: none;
}

.materialize .focus-border {
    width: 100% !important;
    transition: 0.4s !important;
    left: 0 !important;
    height: 3px !important;
    background-color: #F4F4F4 !important;
    padding: 0px !important;
}

.materialize .form-control {
    border: 0;
    padding: 6px 0;
}

.materialize .form-control~.focus-border2 {
    position: relative;
    top: -3px;
    left: 0%;
    width: 0;
    height: 3px;
    background-color: #3399FF;
    transition: 0.4s;
    padding: 0px !important;
    z-index: 9999;
}

.materialize .form-control:focus~.focus-border2 {
    width: 100% !important;
    transition: 0.4s !important;
    background-color: #3399FF !important;
    left: 0% !important;
}

ng-select:hover~.focus-border2 {
    width: 100% !important;
    transition: 0.4s !important;
    background-color: #3399FF !important;
    left: 0% !important;
}