<div class="base-content">
  <div class="contenido">
    <!---------------------------------------------------------------->
    <div class="flex flex-col md:flex-row items-center justify-between dark:bg-gray-700 p-4">
      <div class="w-full mt-4">
        <div class="text-2xl font-semibold tracking-tight leading-6">Listado de Diasnosticos</div>
        <div class="font-medium tracking-tight text-secondary">Módulo de gestiones para Diasnosticos</div>
      </div>
      <div class="flex flex-col md:flex-row items-center mt-4 md:mt-0">

        <btn-generic class="" [color]="'green'" [label]="' Crear Nuevo'" [icon]="'add'"
          [withFull]="false" [disabled]="false" (buttonClick)="createNew()">
        </btn-generic>
      </div>
    </div> 
    <div>
        <form [formGroup]="form"
              class="w-full">
            <mat-form-field
            class="w-full"
            [subscriptSizing]="'dynamic'">
            <mat-icon
                matPrefix
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:search'"></mat-icon>
            <input
                [formControlName]="'search'"
                placeholder="Buscar por nombre.."
                matInput>
                <button   *ngIf="form.get('search').value === ''"  (mousedown)="startRecording()" (mouseup)="stopRecording()" mat-icon-button="" class="absolute right-0">
                  <mat-icon>mic</mat-icon>
              </button>
              <button  (click)="clearSearch()" *ngIf="form.get('search').value !== ''" mat-icon-button class="absolute right-0">
                <mat-icon>close</mat-icon>
            </button>
            </mat-form-field>
        </form>
    </div>
    <!-- ------------------------------table------------------------------------------------------- -->
    <div class="mat-elevation-z0 table-responsive mt-8">
      <div class="overflow-x-auto">
        <table mat-table [dataSource]="dataSource" class="table min-w-full">

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No.</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef> Foto </th>
            <td mat-cell *matCellDef="let element">
              <img src={{element.photo}} style="width: 50px; border-radius: 60px;" />
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Titulo </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.isActive" class="pointer py-0.4 h-6 w-full px-1 rounded-full text-xs text-center font-semibold text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500">
                Activo
              </div>
              <div *ngIf="!element.isActive" class="pointer py-0.4 h-6 w-full px-1 rounded-full text-xs text-center font-semibold text-red-800 bg-red-100 dark:text-red-50 dark:bg-red-500">
                Inactivo
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="equivalences">
            <th mat-header-cell *matHeaderCellDef> Gestionar </th>
            <td mat-cell *matCellDef="let element">
                 <btn-actions 
                     [color]="'secondary'" 
                     [label]="'Tratamiento'" 
                     [icon]="'dvr'"
                     [withFull]="false"
                     [disabled]="false" 
                     (buttonClick)="gestionary(element)">
                 </btn-actions>
            </td>
          </ng-container>


          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
              <!-- <mat-icon class="mr-2" (click)="overView(element)">visibility</mat-icon> -->
              <mat-icon class="mr-2" (click)="update(element)">create</mat-icon>
              <mat-icon class="mr-2" (click)="lowWarehouse(element)">delete_forever</mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
    <!-- ------------------------------table------------------------------------------------------- -->
  </div>
</div>
