.card-main {
    border: 4px solid #A2C747;
    border-radius: 23px;
    height: 80px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-title{
    color: #A2C747;
    font-weight: 600;
}

.label-data{
    color: #000;
    font-weight: 500;
}

.card-faam-active{
    border: 4px solid #ffffff;
    background: #A2C747;
}

.card-faam-active-label-title{
    color: #e2941f;
}
.card-faam-active-label-data{
    color: #ffffff;
}
