.banner{
    background-size: cover;
    background-image: url('https://cdn.shopify.com/s/files/1/0229/0839/files/Diseno_sin_titulo_29ead9f4-6b25-4986-83f6-c3ae7d32c486.png?format=jpg&quality=90&v=1670356366');
}

.close{
    margin: 10px;
    cursor: pointer;
    background: #fff;
    color : #000;
    height: 24px;
    border-radius: 60px;
}