.btn-export{
    border-radius: 4px;
    background: #d4d4d4;
    width: fit-content;
    cursor: pointer;
    color: aliceblue;
}

.btn-whatsapp{
    background: #d4d4d4;
}

.btn-pdf{
    background: #F15642;
}

.btn-excel{
    background: #84BD5A;
}

.fw-700{
    font-weight: 700 !important;
}