.icon-record{
    background-color: #cecece;
    width: fit-content;
    border-radius: 10px;
    padding: 4px 6px;
}

.item-input{
    background: #cecece !important;
    padding: 5px;
    border-radius: 5px;
}

.contenedor-center {
    display: flex;
    // justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 600;
}

.active-card{
    background:#A2C747 !important;
    width: 100% !important;
    color:aliceblue;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
