<button (click)="handleClick()"
    [ngClass]="{
        'btn-warning-faam': color === 'orange',
        'btn-success-faam': color === 'green',
        'btn-secondary-faam': color === 'secondary',
        'btn-bad-faam': color === 'black',
        'btn-danger-faam': color === 'red',
        'btn-disabled-faam': disabled,
        'btn-shadow-faam': shadow 
    }"
    [disabled]="disabled" [class.w-full]="withFull === true" mat-flat-button
    type="button">
    {{ label}}
    <mat-icon *ngIf="icon" icon aria-hidden="false" aria-label="Example share icon" fontIcon="{{icon}}"></mat-icon>

</button>
