.banner{
    background-size: cover;
    background-image: url('https://bqdentalcenters.es/wp-content/uploads/visita-dentista-e1436709580466.jpg');
    height: 13rem !important;
}

.close{
    margin: 10px;
    cursor: pointer;
    background: #fff;
    color : #000;
    height: 24px;
    border-radius: 60px;
}

.container {
    position: relative;
    width: 100%;
    height: 350px;
}
  
.background-div {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #A2C747, #66B503); 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
  
.foreground-div {
    width: 100%;
    height: 20%;
    background-color: white !important; 
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-top-right-radius: 40px;  
    z-index: 2;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.center-div{
  display: flex;
  width: 100%;
  align-items: center; 
  justify-content: space-evenly; 
}

.title-banner{
  color: #fff; 
  font-weight: 700;
  font-size: 24px;
}

.image-banner{
  margin-top: 20px;
  width: 140px;
}